
@{
    ViewBag.Title = "FXconnect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-custom" id="a">
    <div class="flex-wrap py-5 row m-5">
        <div class="card-toolbar col-sm-7 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
            <form class="row" enctype="multipart/form-data">
                <button type="submit" name="submit" value="" class="btn btn-light-primary font-weight-bolder col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 my-2">
                    <span class="svg-icon svg-icon-md">

                        <!--begin::Svg Icon | path:assets/media/svg/icons/Design/PenAndRuller.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"></rect>
                                <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z" fill="#000000" opacity="0.3"></path>
                                <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z" fill="#000000"></path>
                            </g>
                        </svg>
                        <!--end::Svg Icon-->
                    </span><a href="~/Images/FXconnect.xlsx" download="">@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.exceltemplate)</a>
                </button>
                <div class="file-upload col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 my-2">
                    <div class="file-select">
                        <div class="file-select-button" id="fileName">@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.choosefile)</div>
                        <div class="file-select-name" id="noFile">@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.nofilechosen)...</div>
                        <input type="file" name="UploadedFile" id="chooseFile">
                    </div>
                </div>
                <button type="button" onclick="Import()" name="submit" value="" class="btn btn-light-primary font-weight-bolder col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 my-2">
                    <span class="svg-icon svg-icon-md">

                        <!--begin::Svg Icon | path:assets/media/svg/icons/Design/PenAndRuller.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"></rect>
                                <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z" fill="#000000" opacity="0.3"></path>
                                <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z" fill="#000000"></path>
                            </g>
                        </svg>
                        <!--end::Svg Icon-->
                    </span>@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.import)
                </button>
            </form>
        </div>
        <div class="card-toolbar col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
            <div class="row">
                <!--begin::Dropdown-->
                <div class="dropdown dropdown-inline col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 my-2">
                    <button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="svg-icon svg-icon-md">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Design/PenAndRuller.svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24"></rect>
                                    <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z" fill="#000000" opacity="0.3"></path>
                                    <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z" fill="#000000"></path>
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.export)
                    </button>
                    <!--begin::Dropdown Menu-->
                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                        <!--begin::Navigation-->
                        <ul class="navi flex-column navi-hover py-2">
                            <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.chooseanoption):</li>
                            <li class="navi-item">
                                <a onclick="printDiv('table')" class="navi-link" id="print" data-target="print">
                                    <span class="navi-icon">
                                        <i class="la la-print"></i>
                                    </span>
                                    <span class="navi-text">@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.print)</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a onclick="fnExcelReport('kt_datatable');" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="la la-file-excel-o"></i>
                                    </span>
                                    <span class="navi-text">Excel</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a onclick="ExportSCV('kt_datatable','DonVi')" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="la la-file-text-o"></i>
                                    </span>
                                    <span class="navi-text">CSV</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a onclick="demoFromHTML('kt_datatable')" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="la la-file-pdf-o"></i>
                                    </span>
                                    <span class="navi-text">PDF</span>
                                </a>
                            </li>
                        </ul>
                        <!--end::Navigation-->
                    </div>
                    <!--end::Dropdown Menu-->
                </div>
                <!--end::Dropdown-->
                <!--begin::Button-->
                <a href="/FXconnect/Adds" class="btn btn-primary font-weight-bolder col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 my-2">
                    <span class="svg-icon svg-icon-md">
                        <span class="svg-icon svg-icon-primary svg-icon-2x">
                            <i class="icon-xl fas fa-user-plus"></i>
                        </span>
                        <!--end::Svg Icon-->
                    </span>@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.add)
                </a>
                <!--end::Button-->
            </div>

        </div>
    </div>
    <div class="card-body">
        <!--begin: Datatable-->
        <div id="kt_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="kt_datatable_length">
                        <label>
                            @Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.show) <select id="pagenum" name="kt_datatable_length" aria-controls="kt_datatable" class="custom-select custom-select-sm form-control form-control-sm">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            @Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.entries)
                        </label>
                    </div>
                </div><div class="col-sm-12 col-md-6">
                    <div id="kt_datatable_filter" class="dataTables_filter">
                        <label>@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.search):<input id="seach" type="search" class="form-control form-control-sm" placeholder="@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.search)" aria-controls="kt_datatable"></label>
                    </div>
                </div>
            </div><div class="row" id="table">
                <div class="col-sm-12">
                    <table class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline" id="kt_datatable" role="grid" aria-describedby="kt_datatable_info" style="width: 1234px;">
                        <thead>
                            <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.id)</th>
                                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 190px;" aria-label="Company Email: activate to sort column ascending">@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.name)</th>
                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 105px;" aria-label="Actions">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="tbd">
                        </tbody>
                    </table>
                </div>
            </div><div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="kt_datatable_info" role="status" aria-live="polite"></div>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="kt_datatable_paginate">
                        <ul class="pagination" id="page">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end: Datatable-->
    </div>
</div>

<!-- Button trigger modal-->
@section scripts{
    <script>
        $('#chooseFile').bind('change', function () {
            try {
                var filename = $("#chooseFile").val();
                if (/^\s*$/.test(filename)) {
                    $(".file-upload").removeClass('active'); $("#noFile").empty()
                    $("#noFile").append("@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.nofilechosen)...");
                }
                else {
                    $(".file-upload").addClass('active');
                    $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
                }
            } catch (error) {
                Swal.fire(error.message, "@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.pressthebutton)!", "error");
            }

        });
        function Import() {
            try {
                let fileUpload = $('input[name="UploadedFile"]').get(0);
                let files = fileUpload.files;
                let formdata = new FormData();
                formdata.append('file', files[0]);
                $.ajax({
                    type: 'post',
                    url: '/FXconnect/Upload',
                    contentType: false,
                    processData: false,
                    data: formdata,
                    success: function (data) {
                        if (data.code == 200) {
                            Swal.fire(data.msg.join("\n"), "@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.confirm)!", "success");
                            FX(pagenum, page, seach);
                        }

                    }
                })
            } catch (error) {
                Swal.fire(error.message, "", "error")
            }
        }
        var pagenum = $("#pagenum option:selected").val();
        var page = 1;
        var seach = "";
        FX(pagenum, page, seach);

        //phan trang
        $('#page').on('click', 'li', function (e) {
            try {
                e.preventDefault();
                page = $(this).attr('id');
                FX(pagenum, page, seach);
            } catch(error) {
                Swal.fire(error.message, "", "error")
            }

        });


        function FX(pagenum, page, seach) {
            try {
                $.ajax({
                    url: '/FXconnect/List',
                    type: 'get',
                    data: { pagenum, page, seach },
                    success: function (data) {
                        $('#tbd').empty();
                        $('#kt_datatable_info').empty();
                        if (data.code == 200) {
                            $.each(data.c, function (k, v) {
                                let table = '<tr id="' + v.id + '" role="row" class="odd">';
                                table += '<td>' + v.id + '</td>'
                                table += '<td>' + v.name + '</td>'
                                table += '<td class="action" nowrap="nowrap">';
                                table += '<div class="dropdown dropdown-inline">';
                                table += '<a href="javascript:;" class="btn btn-sm btn-clean btn-icon" data-toggle="dropdown">';
                                table += '<i class="la la-cog"></i></a>';
                                table += '<div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">';
                                table += '<ul class="nav nav-hoverable flex-column">';
                                table += ' <li class="nav-item">';
                                table += '<a class="nav-link" href="/FXconnect/Edits/' + v.id + '">';
                                table += '<i class="nav-icon la la-edit"></i>';
                                table += '<span class="nav-text">@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.edit) </span></a></li>';
                                table += '<li class="nav-item"><a class="nav-link" onclick="printDiv(\'' + v.id + '\')">';
                                table += '<i class="nav-icon la la-print"></i><span class="nav-text">@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.print)</span></a></li>';
                                table += '<li class="nav-item"><a class="nav-link" name="delete">';
                                table += '<i class="nav-icon la la-trash"></i><span class="nav-text">@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.delete)</span></a></li>';
                                table += '</ul></div></div>';
                                table += '</td>';
                                table += '</tr>';
                                $('#tbd').append(table);
                            });

                            //--------------------------------
                            let kt_datatable_info = '@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.showingto) ' + pagenum + ' @Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.of) ' + data.count + ' @Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.entries)'
                            $('#kt_datatable_info').append(kt_datatable_info);
                            //-----------------------------page---------------------------
                            $('#page').empty();
                            if (parseInt(page) >= 2) {
                                let pagemin = '<li id="' + 1 + '"><a class="a_1 a_2" >' + 1 + '...</a></li>';
                                $('#page').append(pagemin);
                                let pre = ' <li id="' + (parseInt(page) - 1) + '" class="paginate_button page-item previous disabled" >';
                                pre += '<a  aria-controls="kt_datatable" data-dt-idx="0" tabindex="0" class="page-link">';
                                pre += '<i class="ki ki-arrow-back"></i></a></li>';
                                $('#page').append(pre);
                            }
                            for (let i = parseInt(page); i <= (parseInt(page) + 4); i++) {
                                if (i == data.pages + 1) {
                                    return;
                                }
                                let li = '<li id="' + i + '" class="paginate_button page-item ">';
                                li += '<a aria-controls="kt_datatable" data-dt-idx="1" tabindex="0" class="page-link">' + i + '</a></li>';
                                $('#page').append(li);


                            }


                            let next = '<li  id="' + (parseInt(page) + 1) + '" class="paginate_button page-item next" id="kt_datatable_next">';
                            next += '<a href="#" aria-controls="kt_datatable" data-dt-idx="6" tabindex="0" class="page-link"><i class="ki ki-arrow-next"></i></a></li>';
                            $('#page').append(next);

                            let pagemax = '<li id="' + data.pages + '"><a class="a_1 a_2" >...' + data.pages + '</a></li>';
                            $('#page').append(pagemax);

                        } else {
                            Swal.fire(data.msg, "@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.pressthebutton)!", "error");
                        }
                    }
                })
            } catch (error) {
                Swal.fire(error.message, "", "error")
            }

        }

        $('#pagenum').on('change', function () {
            try {
                var pagenum = $("#pagenum option:selected").val();
                var page = 1;
                var seach = "";
                FX(pagenum, page, seach);
            } catch (error) {
                Swal.fire(error.message, "", "error")
            }

        })


        //------------------------tim kiem------------------

        $('#seach').on('keyup', function (e) {
            try {
                page = 1;
                seach = $('#seach').val();
                FX(pagenum, page, seach);
            } catch (error) {
                Swal.fire(error.message, "", "error")
            }
        });

        //----------------Delete::Unit---------------------
        $(document).on('click', "a[name='delete']", function () {
            try {
                var id = $(this).closest('tr').attr('id');
                Swal.fire({
                title:"@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.deleteentireaccountlinkedwiththisfx)",
                icon: "warning",
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: "@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.confirm)",
                denyButtonText: "@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.close)",
                cancelButtonText: "@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.cancel)"
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/FXconnect/Delete',
                        type: 'post',
                        data: {
                            id
                        },
                        success: function (data) {
                            if (data.code == 200) {
                                Swal.fire({
                                    title: data.msg,
                                    icon: "success",
                                    buttonsStyling: false,
                                    confirmButtonText: "@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.confirm)",
                                    customClass: {
                                        confirmButton: "btn btn-primary"
                                    }
                                });
                                FX(pagenum, page, seach);
                            }
                            else {
                                 Swal.fire(data.msg,"@Html.DisplayName(Zebra_RFID_Scanner.Resources.Resource.pressthebutton)","error")
                            }
                        }
                    })
                } else if (result.isDenied) {

                }
            })
            } catch (error) {
                Swal.fire(error.message, "", "error")
            }
        })
    </script>
}


